<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBoT8Ucuk4Cc-QL1Ifc6blr-TEoM5og85s</string>
	<key>GCM_SENDER_ID</key>
	<string>242023549192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sipapdMobile</string>
	<key>PROJECT_ID</key>
	<string>sipapd-gemastik</string>
	<key>STORAGE_BUCKET</key>
	<string>sipapd-gemastik.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242023549192:ios:bb5b335a664637884d44bd</string>
</dict>
</plist>